.ipynb_checkpoints
*.pyc
*.swp
*.h5
*.pdf
results
*.npy
*.npz
# Ignore everything in batch log and tmp except for .gitkeep
batch/logs/*
batch/tmp_output/*
!.gitkeep
# Keep sample batch files and ignore the "real" ones
batch/*.py
batch/*.sl
!batch/*.example
